@model AnswerViewModel
@{
    ViewData["Title"] = "EditAnswerInput";
}

<div class="container-fluid">
    <div class="flex-grow-1">
        <partial name="_BublesAndCirclesPrtial" />
    </div>
    <div class="col-12 offset-md-2 col-md-8 row">
        <form id="form" method="post" class="col-12" asp-area="Administration" asp-action="Update" asp-controller="Answers">
            <div class="component">
                <div class="card mb-3">
                    <div class="card-header text-warning" style="font-size: xx-large">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Edit Answer</h4>
                        <p class="card-text" style="display: block;">
                            <span class="text-primary mr-1">∗</span>
                            You can always edit it later.
                        </p>
                        <p class="card-text" style="display: block;">
                            <span class="text-primary mr-1">
                                <input type="checkbox" value="true" asp-for="IsRightAnswer">
                            </span>
                            Check the box if the answer is right.
                        </p>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <textarea type="text" class="form-control" asp-for="Text" value="@Model.Text"></textarea>
                            <input type="hidden" class="form-control" asp-for="Id" value="@Model.Id">
                        </div>
                        <span asp-validation-for="Text" class="text-danger"></span>
                        <div class="row mx-1 text-white">
                            <button type="submit" class="btn btn-primary col-md-5 mt-5">Save Changes</button>
                            <div class="col-1 mr-4"></div>
                            <a class="btn btn-primary col-md-5 mt-5" asp-area="Administration" asp-action="Display" asp-controller="Quizzes">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && this.ViewData[GlobalConstants.DashboardRequest] != null)
{
    @section InnerNav
    {
        <partial name="_DashboardNavBarPartial" />
    }
}
@section Scripts {
    <script src="~/js/navigation.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script src="~/js/tinymcSetup.js" asp-append-version="true"></script>
}

