@model QuizHut.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin HomePage";
}
<div class="col-12 col-md-9 offset-md-2">
    <div class="row">
        <partial name="_MakeQuizPartial">
        <partial name="_TakeQuizPartial">
    </div>
    </div>



