
@{
    ViewData["Title"] = "StudentsAll";
}

<h1>StudentsAll</h1>

@section InnerNav
{
    @await Html.PartialAsync("_DashboardNavBarPartial")
}
@section Scripts
{
    <script src="~/js/navigation.js" asp-append-version="true"></script>
}