@using QuizHut.Web.ViewModels.Results
@model  IEnumerable<ResultViewModel>
@{
    ViewData["Title"] = "Default";
}

@foreach (var result in Model )
{
    <tr class="table-danger">
        <th scope="row">@result.StudentName</th>
        <td>@result.StudentEmail</td>
        <td class="text-center">@result.Score</td>
    </tr>
}
    

