@using Microsoft.AspNetCore.Identity;
@using QuizHut.Data.Models;
@inject UserManager<ApplicationUser> userManager
@model EventsListAllViewModel<EventSimpleViewModel>
@{
    ViewData["Title"] = "Results";
}

<div class="row">
    <div class="col-md-5 mb-4 ml-md-5">
        <div class="component">
            <div class="card mb-5">
                <div class="card-header">
                    <i class="fas fa-circle text-success"></i> Results for:
                </div>
                <div class="card-body p-0 mt-2">
                    <h4 class="card-title pl-3 mb-4">Last Active Events</h4>
                    @await Component.InvokeAsync("Results", new { status = Status.Active, principal = this.User})
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-4 offset-md-1">
        <div class="component">
            <div class="card">
                <div class="card-header ">
                    <i class="fas fa-circle text-danger"></i> Results for:
                </div>
                <div class="card-body p-0 mt-2">
                    <h4 class="card-title pl-3 mb-4">Last Ended Events</h4>
                    @await Component.InvokeAsync("Results", new { status = Status.Ended, principal = this.User })
                </div>
            </div>
        </div>
    </div>
</div>