@model AllParticipantsAddedByUserViewModel
@{
    ViewData["Title"] = "AllParticipantsAddedByUser";
}

<div class="col-12 col-md-9 ml-md-5">
    <div class="component bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-neutral p-2">
            <form class="container">
                <h5 class="mb-0">Participants Managment</h5>
                <button class="navbar-toggler collapsed bg-primary"
                            type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown-3"
                            aria-controls="navbarNavDropdown-3"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="navbar-collapse text-center collapse" id="navbarNavDropdown-3">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-1">
                            <input type="email" class="mt-1 mr-1" name="email" value="" />
                        </li>
                        <li class="nav-item m-1">
                            <button type="submit" class="btn btn-light" asp-action="Add" asp-controller="Participants">
                                <i class="fas fa-plus-circle"></i>
                                <span class="text-primary">Add New</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
        </nav>
        <table class="table table-hover">
            <thead>
                <tr class="table-active bg-white">
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Participants.Any())
                {
                    @foreach (var participant in Model.Participants)
                    {
                        <tr class="table-white">
                            <th scope="row">@participant.FullName</th>
                            <td>@participant.Email</td>
                            <td>
                                <div class="component  navbar-expand-lg text-right">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item m-1">
                                            <a class="nav-link  btn btn-white" asp-action="Delete" asp-controller="Participants">
                                                <i class="far fa-times-circle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

