@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Manage your account</h1>

<div class="mt-2">
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
