@model QuestionViewModel
@{
    ViewData["Title"] = "QuestionInput";

}
<div class="container-fluid">
    <div class="flex-grow-1">
        <partial name="_BublesAndCirclesPrtial" />
    </div>
    <div class="col-12 offset-md-2 col-md-8 mt-4 row">
        <form method="post" class="col-11 ml-4" asp-action="AddNewQuestion" asp-controller="Question">
            <div class="component">
                <div class="card mb-3 mt-3">
                    <div class="card-header text-warning" style="font-size: xx-large">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Add New Question</h4>
                        <p class="card-text" style="display: block;">
                            <span class="text-primary mr-1">∗</span>
                            You can always edit it later.
                        </p>
                    </div>
                    <div class="card-footer pb-5">
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Text" class="form-control" placeholder="...">
                        </div>
                        <div class="row mx-1 text-white">
                            <button id="add" type="submit" class="btn btn-primary col-md-5 mt-5">Save Question</button>
                            <div class="col-1 mr-4"></div>
                            <a asp-action="Display" asp-controller="Quiz" class="btn btn-primary col-md-5 mt-5">View Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
