<div class="bubbles d-none d-md-block">
    <!-- 				bubbles -->

    <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
    <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
    <div class="bubble bubble-5 bg-info rotate-bubble"></div>
    <div class="bubble bubble-6 bg-warning rotate-bubble"></div>
    <div class="bubble bubble-7 bubble-top-right bg-danger rotate-bubble"></div>
    <div class="bubble bubble-8 bubble-top-right bg-danger rotate-bubble"></div>
    <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
    <div class="bubble bubble-10 bg-warning rotate-bubble"></div>
    <div class="bubble bubble-11 bg-info rotate-bubble"></div>
    <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>

    <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
    <!--         circles -->
    <div class="circle circle-1 bg-light rotate-circle"></div>
    <div class="circle circle-2 bg-success rotate-circle"></div>
    <div class="circle circle-3 bg-danger rotate-circle"></div>
    <div class="circle circle-4 bg-info rotate-circle"></div>
    <div class="circle circle-5 bg-info rotate-circle"></div>
    <div class="circle circle-6 bg-info rotate-circle"></div>
    <div class="circle circle-7 bg-warning rotate-circle"></div>
    <div class="circle circle-8 bg-white rotate-circle"></div>
    <div class="circle circle-9 bg-warning rotate-circle"></div>
    <div class="circle circle-10 bg-danger rotate-circle"></div>
</div>
