<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">

        <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
              integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
              crossorigin="anonymous" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">

        <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
              integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
              crossorigin="anonymous" asp-append-version="true">
    </environment>
</head>
<body class="index">
    <partial name="~/Views/Shared/_HeaderNavbarPartial.cshtml" />
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
    <partial name="~/Views/Shared/_FooterPartial.cshtml" />

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/vendor/popper/popper.min.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

        <!-- optional plugins -->
        <script src="~/vendor/nouislider/js/nouislider.min.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/attemptQuiz.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/vendor/popper/popper.min.js" asp-append-version="true"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

        <!-- optional plugins -->
        <script src="~/vendor/nouislider/js/nouislider.min.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/attemptQuiz.js" asp-append-version="true"></script>

    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
