@{
    ViewData["Title"] = "_MakeQuizPartial";
}

<div class="col-md-5 mb-4">
    <div class="component">
        <div class="card">
            <div class="card-header text-primary" style="font-size: xx-large">
                <i class="fas fa-folder-plus"></i>
            </div>
            <div class="card-body pt-0">
                <h4 class="card-title">Make Quiz</h4>
                <p class="card-text">Save Or Print...</p>
            </div>
            <div class="card-footer pb-3 mt-3">
                <a class="btn btn-outline-primary"
                   asp-area="Administration"
                   asp-action="DetailsInput"
                   asp-controller="Quizzes">
                Enter
                </a>
            </div>
        </div>
    </div>
</div>

