@model PasswordInputViewModel
@{
    ViewData["Title"] = "_TakeQuizPartial";
}

<form method="post" class="col-12 col-md-5 offset-md-1" asp-action="Start" asp-controller="Quizzes">
    <div class="component">
        <div class="card">
            <div class="card-header text-warning" style="font-size: xx-large">
                <i class="fas fa-folder-open"></i>
            </div>
            <div class="card-body pt-0">
                <h4 class="card-title">Take Quiz</h4>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Password..." asp-for="@Model.Password">
                    <input type="hidden" asp-for="@Model.Error" value="emptyField">
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="card-footer pb-3">
                <button class="btn btn-outline-primary">Enter</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

