
@{
    ViewData["Title"] = "_AdminSideNavBarPartial";
}

<div id="side-bar" class="col-12 col-md-2 border-right">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="Index" asp-controller="Home">Home</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="Index" asp-controller="Monitor">Monitor</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllGroupsCreatedByUser" asp-controller="Groups">Groups</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllCategoriesCreatedByUser" asp-controller="Categories">Categories</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllQuizzesCreatedByUser" asp-controller="Quizzes">Quizzes</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllParticipantsAddedByUser" asp-controller="Participants">Participants</button>
            </form>
        </li>
    </ul>
</div>

