
@{
    ViewData["Title"] = "_AdminSideNavBarPartial";
}

<div id="side-bar" class="col-12 col-md-2 border-right ml-2">
    <ul class="navbar-nav text-center">
        <li class="nav-item active">
            <form class="mb-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="Index" asp-controller="Home">Home</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="Index" asp-controller="Results">Results</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllEventsCreatedByTeacher" asp-controller="Events">Events</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllGroupsCreatedByTeacher" asp-controller="Groups">Groups</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllCategoriesCreatedByTeacher" asp-controller="Categories">Categories</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllQuizzesCreatedByTeacher" asp-controller="Quizzes">Quizzes</button>
            </form>
        </li>
        <li class="nav-item active">
            <form class="my-2">
                <button class="btn btn-primary manage-account-btn" asp-area="Administration" asp-action="AllStudentsAddedByTeacher" asp-controller="Students">Students</button>
            </form>
        </li>
    </ul>
</div>

