@using QuizHut.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="page-hero bg-white text-primary" id="banner">
            <partial name="_BublesAndCirclesPrtial" />
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="title text-center pt-5">
                        <h1 class="display-2 text-primary">QuizHut</h1>
                        <h4 class="text-primary">Welcome to your simple quiz tool.</h4>
                    </div>
                </div>
                <div class="col-12 col-md-5 offset-1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="component">
                                <div class="card mb-3 mt-3">
                                    <div class="card-header text-primary" style="font-size: xx-large">
                                        <i class="fas fa-folder-plus"></i>
                                    </div>
                                    <div class="card-body pt-0">
                                        <h4 class="card-title">Make Quiz</h4>
                                        <p class="card-text">Save Or Print...</p>
                                    </div>
                                    <div class="card-footer pb-3 mt-3">
                                        <a class="btn btn-outline-primary" asp-action="DetailsInput" asp-controller="Quizzes">Enter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="col-12 col-md-5 offset-md-1" asp-action="Start" asp-controller="Quizzes">
                            <div class="component">
                                <div class="card mb-3 mt-3">
                                    <div class="card-header text-warning" style="font-size: xx-large">
                                        <i class="fas fa-folder-open"></i>
                                    </div>
                                    <div class="card-body pt-0">
                                        <h4 class="card-title">Take Quiz</h4>

                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Password..." name="password">
                                        </div>
                                    </div>
                                    <div class="card-footer pb-3">
                                        <button type="submit" class="btn btn-outline-primary">Enter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="intro bg-light">
            <div class="container">
                <div class="text-center mb-5">
                    <h2>About</h2>
                    <p class="lead">We are constantly releasing new features. Stay up to date with us.</p>
                </div>
            </div>
            <div class="blog-posts p-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-primary" style="font-size: xx-large">
                                        <i class="fas fa-folder-plus"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Make Quiz</h4>
                                        <p class="card-text">…</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#a" class="btn btn-outline-primary">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-warning" style="font-size: xx-large">
                                        <i class="fas fa-folder-open"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Take Quiz</h4>
                                        <p class="card-text">…</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#a" class="btn btn-outline-warning">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-danger" style="font-size: xx-large">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Export To PDF</h4>
                                        <p class="card-text">…</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#a" class="btn btn-outline-danger">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-info" style="font-size: xx-large">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Invite People</h4>
                                        <p class="card-text">…</p>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#a" class="btn btn-outline-info">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
