@model PasswordInputViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
 @if (Model != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-exclamation-circle"></i>
        <strong>On no!</strong> There is no quiz with password @Model.Password. Try again !
    </div>
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="page-hero bg-white text-primary" id="banner">
            <partial name="_BublesAndCirclesPrtial" />
            <div class="row">
                <div class="col-12 col-md-4 mb-5">
                    <div class="title text-center pt-5">
                        <h1 class="display-3 text-primary">QuizHut</h1>
                        <h4 class="text-primary">Welcome to your simple quiz tool.</h4>
                    </div>
                </div>
                <div class="col-12 col-md-7 offset-md-1">
                    <div class="row">
                        <partial name="_MakeQuizPartial">
                        <partial name="_TakeQuizPartial">
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="intro bg-light">
            <div class="container">
                <div class="text-center mb-5">
                    <h2>About</h2>
                    <p class="lead">
                        Depending on your needs QuizHut can be just a simple tool for making and taking quizzes online
                        or whole quiz centered network, that can be used for educational purposes.
                    </p>
                </div>
            </div>
            <div class="blog-posts p-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-primary" style="font-size: xx-large">
                                        <i class="fas fa-folder-plus"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Make Quiz</h4>
                                        <p class="card-text" style="display:none">
                                            Creating quiz is now easier than ever.
                                            You don't need to be registered user to make one, but registration gives you much more.
                                            You will be able to store all of your quizzes in one place, order them by categories and modify them.
                                            Registering as Teacher gives you opportunity to make Groups, where you can add another users and assign them quizzes,
                                            witch will appear directly in their accounts. This is functionality can be used for exams, because you will receive their results
                                            right after they finish the quiz...or just for fun.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-primary read">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-warning" style="font-size: xx-large">
                                        <i class="fas fa-folder-open"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Take Quiz</h4>
                                        <p class="card-text" style="display:none">
                                            The only thing you need to take a quiz is the quiz password.
                                            If you register as Participant you can receive invitations for taking a quiz directly in your account.You can be added to Groups
                                            for educational purposes or just for fun.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-warning read">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-danger" style="font-size: xx-large">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Export To PDF</h4>
                                        <p class="card-text" style="display:none">
                                            If you only want to print your quiz, you can make it with just one click
                                            at the end of the process of creating.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-danger read">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="component">
                                <div class="card mb-3">
                                    <div class="card-header text-info" style="font-size: xx-large">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Invite People</h4>
                                        <p class="card-text" style="display:none">
                                            Registered as Teacher, you can invite participants in several ways.
                                            You can create email list of participants and send them email that contains the password of the quiz.
                                            You can assign quiz directly to group in which are added participants that you want to take the quiz.
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-info read">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

