@model CreateCategoryInputViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="col-12 offset-md-1 col-md-8 row">
    <form method="post" class="col-11 ml-4">
        <div class="component">
            <div class="card mb-3 mt-3">
                <div class="card-header text-warning" style="font-size: xx-large">
                    <i class="fas fa-folder-plus"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Create Category</h4>
                    <p class="card-text" style="display: block;">
                        <span class="text-primary mr-1">∗</span>
                        You can always edit it later.
                    </p>
                </div>
                <div class="card-footer pb-5">
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Enter name for the group.">
                    </div>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    <div class="row mx-1 text-white">
                        <button id="addQuestion" type="submit" class="btn btn-primary col-md-5 mt-5" asp-action="Create" asp-controller="Categories">Add Category</button>
                        <div class="col-1 mr-4"></div>
                        <a href="/Administration/Categories/AllCategoriesCreatedByTeacher" class="btn btn-primary col-md-5 mt-5">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

